<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Certificado Digital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="midia/imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header><img src="midia/imgs/logo_pro_tcc-removebg-preview.png" alt="Icon" style="height: 30px;"></header>
    <div class="tudo">
    <img src="midia/imgs/index_selo-removebg-preview.png" alt="img_certificado" class="img_certificado">
    <form action="" method="post" class="index_forms">
        <label for="email" id="index_email">E-mail:</label><br>
        <input type="text" id="index_input_email" name="email" required><br>
        <label for="senha" id="index_senha">Senha:</label><br>
        <input type="text" id="index_input_senha" name="senha" required><br><br>
        <input type="submit" value="Enviar" id="index_enviar">
    </form>
    </div>
</body>
</html>