<!DOCTYPE html>
<html lang="pt-br">
<head meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <title>Certificado Digital</title>
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="shortcut icon" href="midia/imgs/favicon.ico" type="image/x-icon">
  <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
</head>

<body">
  <main>
<!-- Aqui começa o site-->
    <div class="text-center">
      <img src="/static/midia/imgs/index_selo-removebg-preview.png" alt="img_certificado" class="mt-5" id="img_certificado";>
      <div class="row">
        <form action="" method="post" class="index_forms">
          <label for="email" id="index_email" class="p-3 fs-4 fw-semibold">E-mail:</label><br>
          <input class="col-sm-8 col-form-label rounded-1 border border-dark" type="text" id="index_input_email" name="email" placeholder="Insira Seu Email:"><br>
          <label for="senha" id="index_senha" class="p-3 fs-4 fw-semibold">Senha:</label><br>
          <input class="col-sm-8 col-form-label border border-dark rounded-1" type="password" id="index_input_senha" name="senha" placeholder="Insira Sua Senha:" required><br><br>
          <input type="submit" value="Entrar" id="index_enviar" class="rounded-4 p-2 px-4 m">
      </div>
    </div>
  </main>



  <style>
    body{
      background-color: #FFEAAA;
    }
  </style>
 
</body>
</html>