<!DOCTYPE html>
<html lang="pt-br">

<head meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <title>Certificado Digital</title>
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="shortcut icon" href="midia/imgs/favicon.ico" type="image/x-icon">
  <!-- <script src="bootstrap-5.3.3-dist/js/bootstrap.js"></script> -->
  <!-- <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/static/node_modules/@popperjs/core/dist/umd/popper.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/static/midia/imgs/favicon.ico">
</head>

<body">
  <main class="container" style="padding-top: 2%;">
    <div class="text-center">
      <img src="/static/midia/imgs/LogoCompleta.png" alt="img_certificado" style="height: 390px; width: 390px;" class="mt-3" id="img_certificado">

      <h1 style="color: #4C3566;"> Certificado Digital</h1>

      <div class="row">
        <form action="/login" method="post" class="index_forms">
          <label for="login" class="p-2 mt-5 fs-5 fw-semibold">Usuario:</label><br>
          <input class="col-sm-8 col-form-label rounded-1 border border-dark" type="text" name="login"
            placeholder="Insira Seu Usuario:" required><br>
          <label for="senha" id="index_senha" class="p-2 mt-4 fs-5 fw-semibold">Senha:</label><br>
          <input class="col-sm-8 col-form-label border border-dark rounded-1" type="password" id="index_input_senha"
            name="senha" placeholder="Insira Sua Senha:" required><br>

          <input type="submit" value="Entrar" id="index_enviar" class="rounded-4 p-2 mt-5 px-4 fw-bold">
        </form>

      </div>
    </div>

    {% with messages = get_flashed_messages(category_filter=["erroLogin"]) %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <div class="alert-message block-message error">
        <div class="alert alert-danger alert-dismissible fade fade show w-50 container text-center mt-4" role="alert">
          <strong>Usuario Não Encontrado!</strong> Verifique Login e Senha!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% endwith %}

  </main>



  <style>
    body {
      background-color: #FFEAAA;
    }
    
    img {
      width: 15%;
    }

    #index_enviar {
      color: #4C3566;
      background-color: #FFEAAA;
    }

    #index_enviar:hover {
      color: #FFEAAA;
      background-color: #4C3566;
    }
  </style>
  </body>

</html>