<!DOCTYPE html>
<html lang="pt-br">

<head meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <title>Certificado Digital</title>
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="shortcut icon" href="midia/imgs/favicon.ico" type="image/x-icon">
  <!-- <script src="bootstrap-5.3.3-dist/js/bootstrap.js"></script> -->
  <!-- <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/static/node_modules/@popperjs/core/dist/umd/popper.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/static/midia/imgs/favicon.ico">
</head>

<body>
  <main class="container" style="padding-top: 2%;">
    <div class="text-center">
      <img src="/static/midia/imgs/index_selo-removebg-preview.png" alt="img_certificado" class="mt-5" id="img_certificado" ;>
        <div>
            <p>Este é o <strong style="color: #4C3566;">Certificado Digital</strong>. Um serviço feito para facilitar a geração de diplomas da sua instituição. 
               <br> Para começar, baixe a <strong style="color: #4C3566;">planilha base</strong> para que as informações dos estudantes sejam armazenadas de acordo com o que for necessário no diploma.
               <br> Logo após, clique no botão <strong style="color: #4C3566;">Turmas</strong> para entrar no site. Nele, as turmas da instituição já estão separadas, basta você vincular a planilha com as informações dos alunos e criar seus certificados!</p>
        </div>
        <div>
          <div>
            <form action="/" method="get" id="forms1" class="index_forms">
              <input type="submit" value="Turmas" id="index_forms2" class="rounded-4 p-2 mt-4 px-4 fw-bold">
            </form>
          </div>
          <div>
            <form action="/baixarPlaninhaBase" method="get" id="forms2" class="index_forms">
                <input type="submit" value="Baixar planilha base" id="index_forms2" class="rounded-4 p-2 mt-4 px-4 fw-bold">
            </form>
          </div>
        </div>
    </div>
  </main>

  <style>
    body {
      background-color: #FFEAAA;
    }

    img {
      width: 9%;
    }

    p{
      padding-top: 5%;
      font-size: 20px;
    }

    #index_forms2:hover {
      color: #FFEAAA;
      background-color: #4C3566;
    }

  </style>
</body>
</html>